<div class="container mt-8 mx-auto flex flex-col justify-center">
  <ng-container>
    <h2 class="font-normal text-blueGray-900 text-2xl">Day <!-- {{ day number}}--> :</h2>
    <ul class="flex flex-col p-4">
      <li class="border-gray-400 flex flex-row">
        <div class="custom select-none flex flex-1 items-center p-4 transition duration-500 ease-in-out transform hover:-translate-y-2 rounded-2xl border-2 p-6 hover:shadow-2xl border-blue-400">
          <div class="w-1/4 h-3/4 text-wrap text-center flex text-white text-bold flex-col rounded-md bg-blue-700 justify-center items-center mr-10 p-2">
            9-12 PM
          </div>
          <div class="flex pl-1">
            <div class="font-medium text-blue-500">
              Product-Based Service Based or Hybrid?
              <h5 class="text-pink-500">Juan Perez</h5>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </ng-container>
</div>
